src-tauri/crates/sc-plugin/src/xsd/sc-plugin-schema.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/1999/xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    elementFormDefault="qualified">

  <xs:attributeGroup name="commonAttrs">
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="class" type="xs:string" use="optional"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="style" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <!-- ==================== Global element declarations ==================== -->

  <!-- HTML elements -->
  <xs:element name="div" type="blockType"/>
  <xs:element name="p" type="inlineType"/>
  <xs:element name="label" type="blockType"/>
  <xs:element name="span" type="inlineType"/>
  <xs:element name="strong" type="inlineType"/>
  <xs:element name="em" type="inlineType"/>
  <xs:element name="h1" type="inlineType"/>
  <xs:element name="h2" type="inlineType"/>
  <xs:element name="h3" type="inlineType"/>
  <xs:element name="h4" type="inlineType"/>
  <xs:element name="h5" type="inlineType"/>
  <xs:element name="h6" type="inlineType"/>
  <xs:element name="ul" type="listType"/>
  <xs:element name="ol" type="listType"/>
  <xs:element name="li" type="blockType"/>
  <xs:element name="hr"/>
  <xs:element name="br"/>

  <!-- sc-* elements -->
  <xs:element name="sc-display" type="scDisplayType"/>
  <xs:element name="sc-if" type="scIfType"/>
  <xs:element name="sc-knob" type="scKnobType"/>
  <xs:element name="sc-slider" type="scSliderType"/>
  <xs:element name="sc-switch" type="scSwitchType"/>
  <xs:element name="sc-group" type="scGroupType"/>
  <xs:element name="sc-synth" type="scSynthType"/>
  <xs:element name="sc-run" type="scRunType"/>

  <!-- ==================== Content model groups ==================== -->

  <xs:group name="htmlElements">
    <xs:choice>
      <xs:element ref="div"/>
      <xs:element ref="p"/>
      <xs:element ref="label"/>
      <xs:element ref="ul"/>
      <xs:element ref="ol"/>
      <xs:element ref="h1"/>
      <xs:element ref="h2"/>
      <xs:element ref="h3"/>
      <xs:element ref="h4"/>
      <xs:element ref="h5"/>
      <xs:element ref="h6"/>
      <xs:element ref="hr"/>
      <xs:element ref="span"/>
      <xs:element ref="br"/>
    </xs:choice>
  </xs:group>

  <xs:group name="scControls">
    <xs:choice>
      <xs:element ref="sc-display"/>
      <xs:element ref="sc-if"/>
      <xs:element ref="sc-knob"/>
      <xs:element ref="sc-slider"/>
      <xs:element ref="sc-switch"/>
      <xs:element ref="sc-run"/>
    </xs:choice>
  </xs:group>

  <xs:group name="blockContent">
    <xs:choice>
      <xs:group ref="htmlElements"/>
      <xs:group ref="scControls"/>
      <xs:element ref="sc-group"/>
      <xs:element ref="sc-synth"/>
    </xs:choice>
  </xs:group>

  <xs:group name="inlineContent">
    <xs:choice>
      <xs:element ref="span"/>
      <xs:element ref="strong"/>
      <xs:element ref="em"/>
      <xs:element ref="br"/>
      <xs:element ref="sc-display"/>
      <xs:element ref="sc-if"/>
    </xs:choice>
  </xs:group>

  <!-- ==================== Root element ==================== -->

  <xs:element name="title" type="xs:string"/>
  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body" type="bodyType"/>

  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="head"/>
        <xs:element ref="body"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- ==================== Complex types ==================== -->

  <xs:complexType name="bodyType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="blockContent"/>
    </xs:choice>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <xs:complexType name="blockType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="blockContent"/>
    </xs:choice>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <xs:complexType name="inlineType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="inlineContent"/>
    </xs:choice>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element ref="li" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-display -->
  <xs:complexType name="scDisplayType">
    <xs:attribute name="prop" type="xs:string"/>
    <xs:attribute name="format" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-if -->
  <xs:complexType name="scIfType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="blockContent"/>
    </xs:choice>
    <xs:attribute name="prop" type="xs:string"/>
    <xs:attribute name="is-truthy" type="xs:string"/>
    <xs:attribute name="is-falsy" type="xs:string"/>
    <xs:attribute name="is-equal" type="xs:string"/>
    <xs:attribute name="is-not-equal" type="xs:string"/>
    <xs:attribute name="is-greater-than" type="xs:string"/>
    <xs:attribute name="is-lesser-than" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-knob -->
  <xs:complexType name="scKnobType">
    <xs:attribute name="param" type="xs:string"/>
    <xs:attribute name="min" type="xs:decimal"/>
    <xs:attribute name="max" type="xs:decimal"/>
    <xs:attribute name="step" type="xs:decimal"/>
    <xs:attribute name="value" type="xs:decimal"/>
    <xs:attribute name="diameter" type="xs:decimal"/>
    <xs:attribute name="src" type="xs:string"/>
    <xs:attribute name="sprites" type="xs:integer"/>
    <xs:attribute name="fgcolor" type="xs:string"/>
    <xs:attribute name="bgcolor" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-slider -->
  <xs:complexType name="scSliderType">
    <xs:attribute name="param" type="xs:string"/>
    <xs:attribute name="min" type="xs:decimal"/>
    <xs:attribute name="max" type="xs:decimal"/>
    <xs:attribute name="step" type="xs:decimal"/>
    <xs:attribute name="value" type="xs:decimal"/>
    <xs:attribute name="width" type="xs:decimal"/>
    <xs:attribute name="height" type="xs:decimal"/>
    <xs:attribute name="src" type="xs:string"/>
    <xs:attribute name="sprites" type="xs:integer"/>
    <xs:attribute name="fgcolor" type="xs:string"/>
    <xs:attribute name="bgcolor" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-switch -->
  <xs:complexType name="scSwitchType">
    <xs:attribute name="param" type="xs:string"/>
    <xs:attribute name="checked" type="xs:boolean"/>
    <xs:attribute name="width" type="xs:decimal"/>
    <xs:attribute name="height" type="xs:decimal"/>
    <xs:attribute name="src" type="xs:string"/>
    <xs:attribute name="fgcolor" type="xs:string"/>
    <xs:attribute name="bgcolor" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-run -->
  <xs:complexType name="scRunType">
    <xs:attribute name="run" type="xs:boolean"/>
    <xs:attribute name="width" type="xs:decimal"/>
    <xs:attribute name="height" type="xs:decimal"/>
    <xs:attribute name="src" type="xs:string"/>
    <xs:attribute name="fgcolor" type="xs:string"/>
    <xs:attribute name="bgcolor" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-group (container: accepts sc-synth and sc-group children) -->
  <xs:complexType name="scGroupType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="sc-synth"/>
      <xs:element ref="sc-group"/>
    </xs:choice>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

  <!-- sc-synth (container: accepts HTML + control sc-* elements, no sc-group/sc-synth) -->
  <xs:complexType name="scSynthType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="htmlElements"/>
      <xs:group ref="scControls"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attributeGroup ref="commonAttrs"/>
  </xs:complexType>

</xs:schema>
